<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Gearman Dashboard - {% block title %}{% endblock %}</title>    
    
    <link rel="stylesheet" href="{{ 'gearmandashboard:static/stylesheets/reset.css'|static_url }}"
          type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ 'gearmandashboard:static/stylesheets/style.css'|static_url }}"
          type="text/css" media="screen" />
  </head>
  <body>
    <div class="header">
      <ul class="nav">
        {% for title, url in tabs %}
        <li {% if title == current_tab %} class="current" {% endif %}>
          <a href="{{ url }}">{{ title|capitalize }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    
    <div id="main">
    {% block content %}{% endblock %}
    </div>


    <div id="footer">
      <p>
        <a href="https://github.com/osks/gearman-dashboard">Gearman Dashboard</a>
        -
        &copy 2011 Oskar Skoog
      </p>
    </div>

  </body>
</html>
